<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='headlines'>

  this is a headline

</div>
<div id='navigation'>
  <li>one</li>
  <li>two</li>
  <li>three</li>
  <li>four</li>
</div>

<%= yield %>

</body>
</html>
